select {
    position: relative;
    background: #fff;
    display: block;
    width: 100%;
    outline: none;
    color: #000;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    text-overflow: '';
    text-indent: 5px;
    font-size: 21px;
}