.leads {
    &__header { 
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        width: 60vw;
        margin: 0 auto;
    }

    &__buttons {
        padding-top: 50px;
        width: 40vw;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    &__timer {
        font-size: 33px;
    }

    &__user {
        font-size: 20px;
        font-weight: 600;
    }

    &__no-more {
        margin-top: 200px;
        width: 100%;
        text-align: center;
        font-size: 48px;
    }
}